bin/
obj/
.vs/
.idea/
.vscode/
artifacts/
AppPackages/
BundleArtifacts/
publish/
TestResults/
*.log
*.binlog
*.trx
*.coverage
*.coveragexml
*.nupkg
*.snupkg
*.appx
*.appxbundle
*.appxupload
*.msix
*.msixbundle
*.msixupload
*.pubxml
*.DotSettings.user
*.user
*.suo
*.userosscache
*.sln.docstates
